<form th:action="@{/registrazione}" method="POST">
    
    <h3>Dati Personali</h3>
    <label>Nome:</label>
    <input type="text" name="nome" required /> <label>Cognome:</label>
    <input type="text" name="cognome" required />
    
    <label>Email:</label>
    <input type="email" name="email" required />

    <h3>Dati di Accesso</h3>
    <label>Username:</label>
    <input type="text" name="username" required />
	 <label>Password:</label>
    <input type="password" name="psw" required />

    <button type="submit">Registrati</button>
</form>