<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dettaglio arbitro</title>
	<link rel="stylesheet" href="/css/squadra-home.css">
</head>
<body>
	<nav th:replace="fragments/base.html :: navBar"></nav>
	
    <div th:if="${arbitro == null}" class="error">
        Nessun arbitro trovato con questo identificativo.
    </div>
    <div th:if="${arbitro != null}" th:object="${arbitro}">
		
		<h1><span th:text="*{nome}">Mario</span><span> </span><span th:text="*{cognome}">Rossi</span></h1>
		<div class="card" >
	        <p>
	            <span class="label">Data di nascita:</span> 
	            <span th:text="*{nascita != null ? #temporals.format(nascita, 'dd/MM/yyyy') : 'Dato non disponibile'}">01/01/1990</span>
	        </p>
			<p>
	            <span class="label">nazionalità:</span> 
	            <span th:text="*{nazionalita != null ? nazionalita : 'Dato non disponibile'}">italia</span>
	        </p>
		</div>
    </div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>