<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Squadra</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

	<div th:if="${squadra}" th:object="${squadra}">
	        <h1 th:text="*{nome}">Nome Squadra</h1>
	        <p><strong>Anno di fondazione:</strong> <span th:text="*{anno}"></span></p>
	        <p><strong>Città:</strong> <span th:text="*{citta}"></span></p>
	        <a th:href="@{/squadra/calendario/{id}(id=*{id})}">link calendario</a>
	</div> 
	<h2>Rosa Giocatori</h2>
    <div th:if="${giocatori}">
		<ul>
		    <li th:each="giocatore : ${giocatori}">
		        <a th:href="@{/giocatore/{id}(id=${giocatore.id})}" 
		           th:text="${giocatore.nome + ' ' + giocatore.cognome}">
		           Nome Cognome
		        </a>
		    </li>
		</ul>
    </div>
    <div th:if="${squadra == null}">
        <h1>Squadra non trovata</h1>
        <a href="/">Torna alla Home</a>
    </div>
</body>
</html>