<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Squadra</title>
    <link rel="stylesheet" href="/css/CTMS.css">
</head>
<body>
    <nav th:replace="fragments/base.html :: navBar"></nav>
  
    <div th:if="${squadra}" th:object="${squadra}" class="squadra-header">
        <div>
            <h1 th:text="*{nome}">Nome Squadra</h1>
            <div class="squadra-info">
                <p><strong>Anno di fondazione:</strong> <span th:text="*{fondazione}"></span></p>
                <p><strong>Città:</strong> <span th:text="*{citta}"></span></p>
            </div>
        </div>
        <img th:if="${squadra.logo}" th:src="@{${squadra.logo}}" alt="Logo squadra" class="SquadraLogo">
    </div> 
  
    <div class="info-squadra">
        <div th:if="${giocatori}" class="contenitore-lista">
            <h2 class="titolo-sezione">Rosa Giocatori</h2>
            <ul class="lista-verticale">
                <li th:each="giocatore : ${giocatori}" class="riga-giocatore">
                    <a th:href="@{/giocatore/{id}(id=${giocatore.id})}" class="link-partita-blocco" >
						<span th:text="${giocatore.nome + ' ' + giocatore.cognome}">francesco totti</span>
					</a>
                </li>
            </ul>
        </div>
        <div th:if="${partite}" class="contenitore-lista">
            <h2 class="titolo-sezione">Ultime Partite</h2>
            <ul class="lista-verticale">
                <li th:each="partita : ${partite}" class="riga-giocatore">		            
                    <a th:href="@{/partita/{id}(id=${partita.id})}" class="link-partita-blocco">
                        <span class="data-partita" th:text="${partita.data}">01-01-2026</span>
                        <span class="risultato-partita" th:text="|${partita.squadraCasa.squadra.nome} ${partita.golCasa} - ${partita.golTrasferta} ${partita.squadraTrasferta.squadra.nome}|">Roma 2 - 1 Lazio</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div th:if="${squadra == null}" class="squadra-header">
        <h1>Squadra non trovata</h1>
        <a class="btn-link" href="/">Torna alla Home</a>
    </div>
	
</body>
</html>