<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Torneo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/squadra-home.css">
</head>
<body>
	<nav th:replace="fragments/base.html :: navBar"></nav>
    
    <div class="details" th:object="${torneo}">
        <h1 th:text="*{nome} + ' (' + *{anno} + ')'">Nome Torneo (Anno)</h1>
        <p><strong>Descrizione:</strong></p>
        <p th:text="*{descrizione != null && !descrizione.isEmpty()} ? *{descrizione} : 'Nessuna descrizione disponibile.'">Descrizione del torneo...</p>
    	<a th:href="@{/tornei/calendario/{id}(id=*{id})}">link calendario</a>
	</div>

    <h2>Squadre Iscritte</h2>

    <table th:if="${!iscrizioni.isEmpty()}">
        <thead>
            <tr>
                <th>Squadra</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="iscrizione : ${iscrizioni}">
                <td>
                    <a th:href="@{/squadra/{id}(id=${iscrizione[0]})}" th:text="${iscrizione[1]}">Nome Squadra</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="no-data" th:if="${iscrizioni.isEmpty()}">Nessuna squadra è ancora iscritta a questo torneo.</p>

</body>
</html>