<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/CTMS.css">
    <title>Crea Nuova Partita</title>
</head>
<body>
    <h2>Registra nuova Partita</h2>
    
	<form th:action="@{/admin/partita/registra}" th:object="${partita}" method="POST">
	    <input type="hidden" th:field="*{id}" />
	    <input type="hidden" th:field="*{torneo}" />

	    <div>
	        <label>Torneo:</label>
	        <span th:text="${torneo.nome}">Nome Torneo</span>
	    </div>

	    <div>
	        <label>Squadra Casa:</label>
	        <select th:field="*{squadraCasa}" required>
	            <option th:each="si : ${squadreIscritte}" 
	                    th:value="${si.id}" 
	                    th:text="${si.squadra.nome}"></option>
	        </select>
	    </div>
        <div>
            <label>Squadra Trasferta:</label>
            <select th:field="*{squadraTrasferta}" required>
                <option value="">Seleziona Squadra Trasferta</option>
                <option th:each="si : ${squadreIscritte}" 
                        th:value="${si.id}" 
                        th:text="${si.squadra.nome}"></option>
            </select>
        </div>

        <div>
            <label>Data:</label>
            <input type="date" th:field="*{data}" required />
        </div>

        <div>
            <label>Ora:</label>
            <input type="time" th:field="*{ora}" required />
        </div>

        <div>
            <label>Luogo:</label>
            <input type="text" th:field="*{luogo}" required />
        </div>
		<div>
		    <label>Stato:</label>
		    <select th:field="*{stato}" required>
		        <option th:each="stato : ${T(it.uniroma3.siw.Partita.Stato).values()}" 
		                th:value="${stato}" 
		                th:text="${stato}">
		        </option>
		    </select>
		</div>
        <button type="submit">Salva Partita</button>
    </form>
</body>
</html>