<nav th:fragment="navBar"> 
    
    <div class="nav-shared-left">
        <h1><a href="/">CTMS</a></h1>
    </div>
    
    <div class="nav-shared-center"></div>

    <div class="menu-destra">
        
        <span>
            <a href="/tornei">Tornei</a>
        </span>
        
        <th:block th:if="${userDetails == null}">
            <span>
                <a href="/login">Accedi</a>
            </span>
            <span>
                <a href="/registrazione">Registrati</a>
            </span>
        </th:block>

        <th:block th:if="${userDetails != null}">
            <span>
                <a href="/commenti/modifica">
                    <strong th:text="${userDetails.username}" style="margin-left: 5px;">modifica commenti</strong>modifica commenti!
                </a>
            </span>
            
            <span>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit">Esci</button>
                </form>
            </span>
        </th:block>
    </div>
</nav>


<footer th:fragment="footer">
	
</footer>