<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CTMS - Home</title>
		<link rel="stylesheet" href="/css/squadra-home.css">
	</head>
	<body>
		<nav th:replace="fragments/base.html :: navBar"></nav>
					
		<div class="contenitore-card">
			<a href="/squadre" class="btn-link">
				<div class="card" >
					<span>squadre</span>
				</div>
			</a> 
			
			<a href="/tornei" class="btn-link">
				<div class="card">
					<span>tornei</span>
				</div>
			</a> 
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</body>
</html>